@import "sass/colors";
@import "sass/home";
@import "sass/about";
@import "sass/contact";
@import "sass/meet";
@import "sass/involve";
@media screen and (max-width: 700px) {
    .main.menu {
        display: none;
    }
    .sidebar-icon {
        display: block;
    }
}

@media screen and (min-width: 701px) {
    .sidebar-icon {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica', arial;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
}


/*Header*/

header {
    min-height: 100%;
    margin-bottom: 2rem;
    background-color: $navy;
}

.sidebar-icon {
    padding-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    color: white;
}

.hidden {
    display: none;
}

.masthead {
    min-height: 350px;
    padding: 1em 0em;
    /*background: url("../assets/images/team2015.jpg");
background-position: right;
background-size: 100% auto;
*/
}

.masthead .ui.header {
    margin-top: 1em;
    font-size: 4em;
    font-weight: normal;
    color: #D8DCDB;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .masthead .ui.header {
        margin-top: 1.5em;
        font-size: 2.75em;
    }
}

.facebook.icon {
    color: #FFF;
}

.facebook.icon:hover,
.facebook.icon:focus,
.facebook.icon:active {
    color: $sky;
}


/*Footer*/

footer {
    margin-top: 2rem;
    min-width: 100%;
    background-color: $sunflower;
}

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}

div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
}
