/* Home CSS Starts Here */

.masthead h1.ui.header {
    margin-top: 1em;
    font-size: 4em;
    font-weight: normal;
    color: #D8DCDB;
    text-align: center;
}

#involvebtn {
    text-align: center;
    margin: 5px auto;
}

#events .grid {
    margin: 5px;
}


/* Home CSS Ends Here */
