/* Home CSS Starts Here */

.masthead h1.ui.header {
    margin-top: 1em;
    font-size: 4em;
    font-weight: normal;
    color: #D8DCDB;
    text-align: center;
}

#events .grid .row {
    padding: 1em;
}

#events .grid {
    margin-bottom: 2em;
}

.mentor-image {
    height: 300px;
    width: 300px;
    margin-bottom: 3em;
}


/* Home CSS Ends Here */
